@import './variables.scss';

.primary-color {
  background-color: $primary-color;
}

.secondary-color {
  background-color: $secondary-color;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: $body-bg !important;
}

.margin-top {
  &.percent-2 {
    margin-top: 2%;
  }
}

.margin-bottom {
  &.percent-5 {
    margin-bottom: 5%;
  }
}
