$transparent: rgba(10, 10, 10, 0);
$control-hover: rgba(10, 10, 10, 0.4);
$control-active: rgba(10, 10, 10, 0.8);

.carousel {
  width: 100%;

  .carousel-item {
    max-height: 500px;
  }

  img {
    object-fit: cover;
    width: auto !important;

    min-width: 100%;
    min-height: 100%;
  }

  .fixed-span {
    color: white;
  }

  a[class^="carousel-control"] {
    &:hover {
      &[class*="-next"] {
        background-image: linear-gradient(to right, $transparent, $control-hover);
      }
      &[class*="-prev"] {
        background-image: linear-gradient(to left, $transparent, $control-hover);
      }
    }
    &:active {
      &[class*="-next"] {
        background-image: linear-gradient(to right, $transparent, $control-active);
      }
      &[class*="-prev"] {
        background-image: linear-gradient(to left, $transparent, $control-active);
      }
    }
  }
}
