@import './variables.scss';

.navbar {
  .navbar-brand {
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: $brand-font, sans-serif;
    font-size: 250%;

    padding-top: 0;
    padding-bottom: 0;

    margin-top: -25%;
    margin-bottom: -25%;
  }

  .nav-item {

    div.dropdown-menu {
      background-color: $primary-color;

      a:hover {
        background-color: $dropdown-link-hover-bg;
      }
      a:active {
        background-color: $dropdown-link-active-bg;
        outline: none;
      }
      a:focus {
        background-color: $dropdown-link-hover-bg;
        outline: none;
      }

    }

    a {
      color: rgba(255, 255, 255, 0.7) !important;

      &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 1) !important;
      }
    }

  }
}

