$body-bg: rgb(255, 238, 213);
$body-bg: #fafafa;
$brand-font: umbrella;
$brand-font-secours: disney;

// Color set 1
$primary-color: rgb(255, 150, 32);
$secondary-color: rgb(56, 191, 50);
$tertiary-color: rgb(255, 104, 104);
$quaternary-color: rgb(161, 44, 255);
$quinary-color: rgb(255, 239, 79);

// Color set 2
$primary-color-1: rgb(255, 148, 39);
$secondary-color-1: rgb(255, 96, 40);
$tertiary-color-1: rgb(255, 213, 116);
$quaternary-color-1: rgb(115, 178, 232);
$quinary-color-1: rgb(53, 228, 232);

$link-hover-black-shade-bg: rgba(0, 0, 0, 0.2);
$link-active-black-shade-bg: rgba(0, 0, 0, 0.4);

@font-face {
  font-family: carefree;
  src: local('carefree'), url(../assets/font/carefree/carefree.woff) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: disney;
  src: local('disney'), url(../assets/font/disney/Walt_Disney_Script.woff) format('woff');
}
@font-face {
  font-family: umbrella;
  src: local('umrbella'), url(../assets/font/umbrella/umbrella.woff) format('woff');
}

@-webkit-keyframes color_change_set1 {
  0%   { background-color: $primary-color !important ; }
  25%  { background-color: $secondary-color !important ; }
  50%  { background-color: $tertiary-color !important ; }
  75%  { background-color: $quaternary-color !important ; }
  100% { background-color: $quinary-color !important ; }
}
@-webkit-keyframes color_change_set2 {
  0%   { background-color: $primary-color-1 !important ; }
  25%  { background-color: $secondary-color-1 !important ; }
  50%  { background-color: $tertiary-color-1 !important ; }
  75%  { background-color: $quaternary-color-1 !important ; }
  100% { background-color: $quinary-color-1 !important ; }
}
