@import './variables.scss';

.bg {
  &.set-1 {
    &.primary, &.primary .dropdown .dropdown-menu {
      background-color: $primary-color;
    }
    &.secondary, &.secondary .dropdown .dropdown-menu {
      background-color: $secondary-color;
    }
    &.tertiary, &.tertiary .dropdown .dropdown-menu {
      background-color: $tertiary-color;
    }
    &.quaternary, &.quaternary .dropdown .dropdown-menu {
      background-color: $quaternary-color;
    }
    &.quinary, &.quinary .dropdown .dropdown-menu {
      background-color: $quinary-color;
    }
  }
  &.set-2 {
    &.primary, &.primary .dropdown .dropdown-menu {
      background-color: $primary-color-1;
    }
    &.secondary, &.secondary .dropdown .dropdown-menu {
      background-color: $secondary-color-1;
    }
    &.tertiary, &.tertiary .dropdown .dropdown-menu {
      background-color: $tertiary-color-1;
    }
    &.quaternary, &.quaternary .dropdown .dropdown-menu {
      background-color: $quaternary-color-1;
    }
    &.quinary, &.quinary .dropdown .dropdown-menu {
      background-color: $quinary-color-1;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: $body-bg !important;
}

.margin-top {
  &.percent-2 {
    margin-top: 2%;
  }
}

.margin-bottom {
  &.percent-5 {
    margin-bottom: 5%;
  }
}
