$body-bg: rgb(255, 238, 213);
$body-bg: #fafafa;
$brand-font: umbrella;
$brand-font-secours: disney;

// Color set 1
$primary-color: rgb(199, 85, 50);
$secondary-color: rgb(182, 255, 111);
$tertiary-color: rgb(182, 255, 111);
$quaternary-color: rgb(48, 79, 204);
$quinary-color: rgb(199, 85, 50);

// Color set 2
$primary-color-1: rgb(255, 150, 32);
$secondary-color-1: rgb(56, 191, 50);
$tertiary-color-1: rgb(255, 104, 104);
$quaternary-color-1: rgb(161, 44, 255);
$quinary-color-1: rgb(255, 239, 79);

$link-hover-black-shade-bg: rgba(0, 0, 0, 0.2);
$link-active-black-shade-bg: rgba(0, 0, 0, 0.4);

@font-face {
  font-family: carefree;
  src: local('carefree'), url(../assets/font/carefree/carefree.woff) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: disney;
  src: local('disney'), url(../assets/font/disney/Walt_Disney_Script.woff) format('woff');
}
@font-face {
  font-family: umbrella;
  src: local('umrbella'), url(../assets/font/umbrella/umbrella.woff) format('woff');
}
