.carousel {
  width: 100%; }
  .carousel .carousel-item {
    max-height: 500px; }
  .carousel img {
    transform: translateY(-25%);
    object-fit: cover;
    width: auto !important;
    min-width: 100%;
    min-height: 100%; }
  .carousel .fixed-span {
    color: white; }
