.carousel {

  width: 100%;
  margin-bottom: 2%;

  .carousel-item {
    max-height: 500px;
  }

  img {
    object-fit: cover;
    width: auto !important;

    min-width: 100%;
    min-height: 100%;
  }

  .fixed-span {
    color: white;
  }
}
